*.bak
*.code-workspace
*.gstmp
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.db-shm
*.VC.db-wal
*_proto.xml
*_proto_cpp.xml
*.exe
*.dll
*.obj
*.ilk